config:
  namespace: fg-prod
  branch: main
  env:
    DB_NAME: wordpress
    DB_USER: wordpress
    DB_PASSWORD: WljF5rywmu095mwx8OUdra
    DB_HOST: 136.243.57.185
  maintainers:
    - ops@fineguide.ai

services:
  website:
    domain: fineguide.ai
    type: docker_service
    enabled: true
    url_prefix: /
    port: 80
    volumes:
      - ./blog:/var/www/html/blog
