.hov-scale-up {
    scale: 1;
    position: relative;
    transition: scale 0.3s ease-in;
    border-radius: 0;
}

.hov-scale-up:hover {
    z-index: 10;
    scale: 1.02;
    box-shadow: 2px 4px 10px #ddd;
    border-radius: 10px;
}

.shadow-text {
    text-shadow: 1px 1px rgba(0,0,0, 0.3);
}

.newsletter {
    position:relative;
}

.newsletter-title {
    z-index: 10;
    position: relative;
}

.newsletter-iframe {
    width: 236px;
    height:100px;
}

.rounded-60 {
    border-radius:60px;
}

.rounded-30 {
    border-radius: 30px;
}

.ask-bot-link {
    text-decoration: underline;
    color: inherit!important;
}
.ask-bot-link:hover {
    color: inherit!important;
    text-decoration: underline;
}