.hov-scale-up {
    scale: 1;
    position: relative;
    transition: scale 0.3s ease-in;
    border-radius: 0;
}

.hov-scale-up:hover {
    z-index: 10;
    scale: 1.02;
    box-shadow: 2px 4px 10px #ddd;
    border-radius: 10px;
}

.shadow-text {
    text-shadow: 1px 1px rgba(0,0,0, 0.3);
}

.newsletter {
    position:relative;
}

.newsletter-title {
    z-index: 10;
    position: relative;
}

.newsletter-iframe {
    width: 236px;
    height:100px;
}

.rounded-60 {
    border-radius:60px;
}

.rounded-30 {
    border-radius: 30px;
}

.ask-bot-link {
    text-decoration: underline;
    color: inherit!important;
}
.ask-bot-link:hover {
    color: inherit!important;
    text-decoration: underline;
}

.equal-table th {
    background-color: rgba(245, 245, 245, .5);
}
.equal-table th,
.equal-table td {
    width:20%;
}


table.pricing-table thead th {
    vertical-align: top;
    background: rgba(245,245,245,.3)
}

table.table-bordered thead th {
    border-bottom: 0;
}

table.table-bordered tbody td {
    border-color:#f0f0f0;
}

.pricing-table tr td:not(.sticky-column) {
    width:232px;
}

.pricing-table tr td.sticky-column {
    height:130px;
    vertical-align: middle;
}

.pricing-table tr td.sticky-column > div {
    padding:30px 25px 30px 20px;
    font-size: 14px;
    text-align: right;
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .pricing-table tr td.sticky-column,
    .pricing-table th.sticky-column {
      position: sticky;
      left: 0; /* Stick to the left edge */
      background-color: #f8f9fa; /* Match your existing background */ 
      z-index: 10; /* Ensure it's above other elements */
      font-size: 12px;
      width: 90px;
    }

    .pricing-table tr td.sticky-column > div {
        padding: 10px 5px;
        font-size:12px;
        text-align:center;
    }
    
  }

  /* FG Helper */

  .fg-help-button {
    position: fixed;
    bottom: 0;
    right: 5px;
    padding: 0 10px;
    background: #7f3bf3;
    color:#fff;
    font-weight: 500;
    font-size: 12px;
    padding: 3px 20px;
    border: 1px solid #efefef;
    border-radius: 9px 9px 0 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor:pointer;
  }

  .fg-chat-wrapper {
    position:fixed;
    right: -400px;
    top:0;
    bottom:0;
    width: 400px;
    border-left:1px #efefef solid;
    transition: right 0.2s ease-in;
  }

  .fg-chat-wrapper.fg__open {
    right: 0;
  }

  .fg_close___btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 26px;
    height: 21px;
    font-size: 20px;
    cursor: pointer;
    z-index: 9999; 
  }


  body {
    width:100%;
    transition: width 0.2s ease-in;
  }

  body.fg__shrink {
    width: calc(100% - 400px);
  }