<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="/">
            <!-- <div class="block sm:hidden">
                <img src="assets/images/logo-icon-40.png" class="h-10 inline-block dark:hidden"  alt="">
                <img src="assets/images/logo-icon-40-white.png" class="h-10 hidden dark:inline-block"  alt="">
            </div> -->
            <!-- <div class="sm:block hidden"> -->
                <img src="/assets/images/logo-dark.svg" class="h-8 inline-block dark:hidden" alt="">
                <img src="/assets/images/logo-white.svg" class="h-8 hidden dark:inline-block" alt="">
            <!-- </div> -->
        </a>
        <!-- End Logo container-->

        <!-- Start Mobile Toggle -->
        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
        <!-- End Mobile Toggle -->

        <!--Login button Start-->
        <ul class="buy-button list-none mb-0">
            <li class="inline mb-0">
                <a href="https://app.fineguide.ai/login">
                    <span class="py-[6px] px-4 md:inline hidden items-center justify-center tracking-wider align-middle duration-500 text-sm text-center rounded bg-purple-700/5 hover:bg-purple-700 border border-purple-700/10 hover:border-purple-700 hover:text-white font-semibold">Login</span>
                    <span class="py-[6px] px-4 inline md:hidden items-center justify-center tracking-wider align-middle duration-500 text-sm text-center rounded bg-purple-700 hover:bg-violet-700 border border-purple-700 hover:border-violet-700 text-white font-semibold">Login</span>
                </a>
            </li>
            
            <li class="md:inline hidden ps-1 mb-0 ">
                <a href="pricing" target="_blank" class="py-[6px] px-4 inline-block items-center justify-center tracking-wider align-middle duration-500 text-sm text-center rounded bg-purple-700 hover:bg-violet-700 border border-purple-700 hover:border-violet-700 text-white font-semibold">Signup</a>
            </li>  
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu">
                 <!-- <li class="has-submenu parent-menu-item">
                    <a href="/">Home</a><span class="menu-arrow"></span>
                   <ul class="submenu">
                        <li><a href="index" class="sub-menu-item">Hero One</a></li>
                        <li><a href="index-two" class="sub-menu-item">Hero Two</a></li>
                        <li><a href="voice-qa" class="sub-menu-item">Hero Three</a></li>
                        <li><a href="index-light" class="sub-menu-item">Hero Light <span class="bg-gray-50 dark:bg-slate-800 text-[10px] shadow shadow-gray-300 dark:shadow-gray-700 font-bold px-2.5 py-0.5 rounded h-5 ms-1">Light</span></a></li>
                    </ul>
                </li> -->
                <li class="has-submenu parent-menu-item menu-open">
                    <a >Platform</a><span class="menu-arrow"></span>
                    <ul class="submenu" style="display: block;">
                        <li><a href="/lead-generation" class="sub-menu-item">Lead Capture</a></li>
                        <li><a href="/ai-agents" class="sub-menu-item">Ai Agents</a></li>
                        <li><a href="/ai-human-support" class="sub-menu-item">AI + Human Support</a></li>
                        <li><a href="/voice-qa" class="sub-menu-item">Voice QA</a></li>
                        <li><a href="/automation" class="sub-menu-item">Automations</a></li>
                    </ul>
                </li>
                <li><a href="/pricing" class="sub-menu-item">Pricing</a></li>
                <li><a href="/enterprise" class="sub-menu-item">Enterprise</a></li>
                <li><a href="https://fineguide.ai/blog" class="sub-menu-item">Blog</a></li>
                <li><a href="https://discord.gg/kmEyFP3eYG" class="sub-menu-item" target="_blank">Discord</a></li>
                
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</nav><!--end header-->
<!-- End Navbar -->