  <!-- Bots Demo -->
  <section class="pt-100 pb-100 bg-light text-center application_13">
    <div class="container px-xl-0">
      <div class="row justify-content-center" id="demo">
        <h3 class="f-48 pb-25">
          Let our bots speak for themselves
        </h2>
        <div class="col-md-7 pb-60 color-heading f-22 medium text-adaptive">
          Our bots can take on variety of roles. Customisable and tailored to reflect the unique voice of your brand!
        </div>
      </div>


      <!-- bots demo -->
      <div id="demo-bots" class="demo-bot-wrapper ">
        <div class="decoration"></div>
        <div class="row justify-content-around bots">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <h5 class="pb-10"><span class="f-28 mr-10">1. </span> Select a Bot</h5>
            <div id="bots-wrapper" class="bots-wrapper scrollable-list"></div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <h5 class="pb-10"><span class="f-28 mr-10">2. </span> Start a conversation</h5>
            <div id="chat-wrapper" class="chat-wrapper"></div>
          </div>
        </div>
      </div>
      <!-- / bots Demo -->

    </div>
  </section>