  <!-- Configure With Few Clicks -->
  <section class="pt-80 pb-80 feature_11 border-top border-bottom color-white bg-dark shadow-text">
    <div class="container px-xl-0">
      <div class="row align-items-center justify-content-between ">
        <div class="col-xl-5 col-lg-6 col-sm-8">
          <h3 class="f-40">
            Configure your bot with a few clicks
          </h3>
          <div class="mt-30 mb-20 f-22 op-7 text-adaptive description">
            You don't need to be a prompt master, our assistants have the most accurate pre-defined prompts, so you don't
            need to write it yourself.
          </div>
        </div>
        <div class="col-xl-5 col-lg-4 col-sm-8">
          <div class="mb-50 block">
            <div class="mb-15 f-14 semibold text-uppercase sp-20 title">
              <i class="fas fa-check mr-15">
              </i>
              <span>
                PreDefined prompts
              </span>
            </div>
          </div>
          <div class="mb-50 block">
            <div class="mb-15 f-14 semibold text-uppercase sp-20 title">
              <i class="fas fa-check mr-15">
              </i>
              <span>
                Role-Specific rules
              </span>
            </div>
          </div>
          <div class="block">
            <div class="mb-15 f-14 semibold text-uppercase sp-20 title">
              <i class="fas fa-check mr-15">
              </i>
              <span>
                No coding required
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>