<section class="bg-light contact_8">
	<div class="container px-xl-0">

		<h2 class="small text-center pb-80">Contact</h2>
		<div class="row justify-content-between pb-80">
			<div class="col-md-6 pb-95 left_side">
				<!--
					<div class="d-none" >
						<div class="mb-10 f-14 semibold text-uppercase sp-20 color-heading title">
							Phone
						</div>
						<a href="tel:+15555055050" class="link mb-35 f-32 bold color-main text_big">
							+1 555 505 5050
						</a>
					</div>
                    -->
				<div>
					<div class="mb-10 f-14 semibold text-uppercase sp-20 color-heading title">
						E-mail
					</div>
					<a href="mailto:office@fineguide.ai" class="link mb-35 f-32 bold color-main text_big">
						office@fineguide.ai
					</a>
				</div>
				<div>
					<div class="mb-10 f-14 semibold text-uppercase sp-20 color-heading title">
						Address
					</div>
					<div class="f-32 bold color-main text_big mb-35">
						31 August 1989 St 91, Chișinău, Moldova
					</div>
				</div>
				<div>
					<div class="mb-10 f-14 semibold text-uppercase sp-20 color-heading title">
						Get In Touch
					</div>
					<div class="f-22 color-main text_big">
						Conact us at <a href="mailto:contact@fineguide.ai">contact@fineguide.ai</a><br>
						Or ask our <a href="javascript:$__fg_window_open()">Buddy</a> to schedule a call
					</div>
				</div>
			</div>
			<div class="col-md-5" data-aos-delay="750">
				<iframe src="https://www.google.com/maps/d/u/0/embed?mid=16Tx6JUzuUVXmWmRsn0ZWyDKum9wD5e4&ehbc=2E312F" width="640" height="480" style="border:0;">,</iframe>
			</div>
		</div>
	</div>
</section>