  <!-- Consuption Model -->
  <section>
    <div class="container px-xl-0">
    <div class="text-center">
        <h4 class="mb-20">
          Credits Consumption by Model
        </h4>
    </div>
    <div class="color-heading op-7 text-center mb-10 f-14">
      One request equals one message from the user and one response from the bot.
    </div>
    <div>
      <table class="table-bordered w-full mb-20 text-center">
        <tbody>
          <tr>
            <td class="w-100">
                <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-center">
                  <div class="color-heading f-14 semibold text-uppercase sp-20 text-center">
                    Model
                  </div>
                </div>
            </td>
            <td class="w-100">
              <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-center">
                <div class="color-heading f-14 semibold text-uppercase sp-20 text-center">
                  Credits consumption per request
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                OpenAi Gpt-4o mini
              </div>
            </td>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                1
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                Gemini Pro 1.0
              </div>
            </td>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                1
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                Gemini Flash 1.5
              </div>
            </td>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                1
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                Claude 3.0 Haiku
              </div>
            </td>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                2 
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                OpenAi GPT-3.5
              </div>
            </td>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                3 
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                Gemini Pro 1.5
              </div>
            </td>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                8
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                Claude 3.5 Sonnet
              </div>
            </td>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                20
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                OpenAi GPT-4o
              </div>
            </td>
            <td>
              <div class="pt-15 pb-15 px-25 w-full">
                32 
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="color-heading op-7 text-center mb-80 f-14">
      The consumption model is a dynamic parameter subject to temporal variation.
    </div>
  </div>
  </section>