<!-- enterprise offer -->
  <section class="border-bottom bg-gray color-filter-light-8 text-center text-lg-left call_to_action_11">
    <div class="container px-xl-0 pt-45 pb-25">
      <div class="row align-items-center justify-content-center">
        <div class="col-9 pb-20">
          <h6 class="f-24 regular text-adaptive text-center">
            For <b>Enterprise</b> customers, reach out for a personalized offer
          </h6>
        </div>
        <div class="col-xl-3 col-lg-4 text-lg-center pb-20">
          <a href="javascript:$__fg_window_open()" class="btn mt-30 mt-lg-0 lg action-2">
            Get in touch
          </a>
        </div>
      </div>
    </div>
  </section>