  <!-- Enterprise Ready -->
  <section class="pt-105 pb-90 bg-light feature_14 border-bottom">
    <div class="container px-xl-0">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <h2 class="mb-60 small text-center">
            Enterprise Quality Features
          </h2>
        </div>
      </div>
      <div class="row no-gutters justify-content-around align-items-center">
        <div class="col-lg-3 col-md-6 text-center text-lg-left">
          <div class="mb-60 block">
            <div class="mb-15 f-14 semibold text-uppercase sp-20 title">
              Fully customizable chat interface
            </div>
            <div class="color-heading text-adaptive">
              Featuring a fully customizable interface, allowing you to tailor appearance to match your brand's style
              effortlessly
              <br>
              <br>
            </div>
          </div>
          <div class="mb-60 block">
            <div class="mb-15 f-14 semibold text-uppercase sp-20 title">
              Custom widgets support
            </div>
            <div class="color-heading text-adaptive">
              Our bots can incorporate widgets into conversations, offering dynamic and personalized content for a
              richer interaction.
            </div>
          </div>
          <div class="block">
            <div class="mb-15 f-14 semibold text-uppercase sp-20 title">
              Custom Integrations
            </div>
            <div class="color-heading text-adaptive">
              Our bots can be easily integrated with a variety of tools and platforms
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <img src="uploads/chat-window.svg" class="bg w-500">
        </div>
      </div>
    </div>
  </section>
