<!-- Features Sections -->
  <section class="bg-light feature_43 pt-0 pb-0">
    <div class="container px-xl-0 text-center text-md-left">
      <div class="row flex-md-row-reverse flex-lg-row">
        <div class="col-xl-6 col-lg-7 col-md-8 pt-105 pb-100 inner" id="features">
          <h2 class="mb-25 small aos-animate">
            Adaptible to a wide range of customer support roles
          </h2>
          <div class="d-md-none d-sm-block text-center pb-20">
            <img src="uploads/miniii.png" alt="Tech Support" class="w-200 rounded-30">
          </div>
          <div class="f-22 color-heading text-adaptive aos-animate">
            Our multifunctional bots are capable of handling various roles such as resolving technical problems,
            offering customer support to address inquiries, or even managing sales operations.
          </div>
          <span class="aos-animate">
            <a href="#demo" class="btn mt-30 action-2">
              Try now
            </a>
          </span>
        </div>
        <div class="col-lg-1 d-none d-lg-block">
        </div>
        <div class="col-xl-5 col-lg-4 col-md-4 d-none d-md-block aos-animate">
          <div class="h-full relative overflow-hidden">
            <img src="uploads/miniii.png" alt="" class="absolute h-full bg">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light feature_43 pt-0 pb-0">
    <div class="container px-xl-0 text-center text-md-left">
      <div class="row flex-md-row-reverse flex-lg-row">
        <div class="col-xl-5 col-lg-4 col-md-4 d-none d-md-block">
          <div class="h-full relative overflow-hidden">
            <img src="uploads/b6ccac2c2f114d018451cbde736ba15a.jpeg" alt="" class="absolute h-full bg rounded-30">
          </div>
        </div>
        <div class="col-lg-1 d-none d-lg-block">
        </div>
        <div class="col-xl-6 col-lg-7 col-md-8 pt-105 pb-100 inner">
          <h2 class="mb-25 small">
            Customisable Personality
          </h2>
          <div class="d-md-none d-sm-block text-center pb-20">
            <img src="uploads/b6ccac2c2f114d018451cbde736ba15a.jpeg" alt="Customisable Personality"
              class="w-200 rounded-30">
          </div>
          <div class="f-22 color-heading text-adaptive">
            Our Assistants can be tailored to reflect your brand's voice and tone, providing a one-of-a-kind experience
            to every user they interact with.
          </div>
          <span>
            <a href="#demo" class="btn mt-30 action-2">
              Try now
            </a>
          </span>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light feature_43 pt-0 pb-80">
    <div class="container px-xl-0 text-center text-md-left">
      <div class="row flex-md-row-reverse flex-lg-row">
        <div class="col-xl-6 col-lg-7 col-md-8 pt-105 pb-100 inner">
          <h2 class="mb-25 small">
            Human Support Escalation
          </h2>
          <div class="d-md-none d-sm-block text-center pb-20">
            <img src="uploads/handshake.jpeg" alt="Human Support" class="w-200 rounded-30">
          </div>
          <div class="f-22 color-heading text-adaptive">
            When needed, our system transitions conversations to human agents, combining the best of AI efficiency and
            human expertise.
          </div>
          <span>
            <a href="#demo" class="btn mt-30 action-2">
              Try now
            </a>
          </span>
        </div>
        <div class="col-lg-1 d-none d-lg-block">
        </div>
        <div class="col-xl-5 col-lg-4 col-md-4 d-none d-md-block">
          <div class="h-full relative overflow-hidden">
            <img src="uploads/handshake.jpeg" alt="Human Support" class="absolute h-full bg rounded-30">
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- / Features Sections -->