  <!-- Feature 8 -->
  <section class="pt-105 pb-80 bg-light feature_8">
    <div class="container px-xl-0">
      <h2 class="mb-50 small text-lg-center">
        GPT-Powered Assistants
        <br> with impeccable accuracy rate
      </h2>
      <div class="row">
        <div class="mb-40 col-md-6 col-lg-4 d-flex align-items-baseline">
          <div class="ml-15 w-30 mr-15 flex-shrink-0 text-lg-center icon">
            <i class="fas fa-check f-18">
            </i>
          </div>
          <div class="inner">
            <div class="mb-20 f-14 semibold text-uppercase sp-20 title">
              Reinforced Learning
            </div>
            <div class="color-heading op-7 text-adaptive">
              Reinforced learning algorithms allows the bot to self-improve through user feedback and interaction.
            </div>
          </div>
        </div>
        <div class="mb-40 col-md-6 col-lg-4 d-flex align-items-baseline">
          <div class="ml-15 w-30 mr-15 flex-shrink-0 text-lg-center icon">
            <i class="fas fa-check f-18">
            </i>
          </div>
          <div class="inner">
            <div class="mb-20 f-14 semibold text-uppercase sp-20 title">
              Reduced Hallucination
            </div>
            <div class="color-heading op-7 text-adaptive">
              Our algorithms significantly reduce the generation of inaccurate or nonsensical responses.
            </div>
          </div>
        </div>
        <div class="mb-40 col-md-6 col-lg-4 d-flex align-items-baseline">
          <div class="ml-15 w-30 mr-15 flex-shrink-0 text-lg-center icon">
            <i class="fas fa-check f-18">
            </i>
          </div>
          <div class="inner">
            <div class="mb-20 f-14 semibold text-uppercase sp-20 title">
              Context Optimisation
            </div>
            <div class="color-heading op-7 text-adaptive">
              We enhanced the bot's ability to understand context for more accurate interactions.
            </div>
          </div>
        </div>
        <div class="mb-40 col-md-6 col-lg-4 d-flex align-items-baseline">
          <div class="ml-15 w-30 mr-15 flex-shrink-0 text-lg-center icon">
            <i class="fas fa-check f-18">
            </i>
          </div>
          <div class="inner">
            <div class="mb-20 f-14 semibold text-uppercase sp-20 title">
              Proactive Support
            </div>
            <div class="color-heading op-7 text-adaptive">
              Improve customer engagement with proactive behaviour and followup questions, increasing number of leads.
            </div>
          </div>
        </div>
        <div class="mb-40 col-md-6 col-lg-4 d-flex align-items-baseline">
          <div class="ml-15 w-30 mr-15 flex-shrink-0 text-lg-center icon">
            <i class="fas fa-check f-18">
            </i>
          </div>
          <div class="inner">
            <div class="mb-20 f-14 semibold text-uppercase sp-20 title">
              Customizable Personality
            </div>
            <div class="color-heading op-7 text-adaptive">
              Customize Assistant's persona to align with your brand voice and values.
            </div>
          </div>
        </div>
        <div class="mb-40 col-md-6 col-lg-4 d-flex align-items-baseline">
          <div class="ml-15 w-30 mr-15 flex-shrink-0 text-lg-center icon">
            <i class="fas fa-check f-18">
            </i>
          </div>
          <div class="inner">
            <div class="mb-20 f-14 semibold text-uppercase sp-20 title">
              Versatile Role Adaptation
            </div>
            <div class="color-heading op-7 text-adaptive">
              Assign roles to specialise and deliver knowledgeable context-relevant responses
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>