    <div class="container px-xl-0 text-center text-lg-left">
      <div class="mb-3 d-xl-none">
        <a href="#" class="link img_link">
          <img src="uploads/fineguidelogo1.svg" alt="Logo" class="img-fluid w-140">
        </a>
      </div>
      <div class="row justify-content align-items-center">
        <div class="col-12 pt-20 left text-center mb-30">
          <h1 class="f-44">
            Empower your Website with Instant Support
          </h1>
          <div class="mt-15 f-18 medium color-heading op-7 text-adaptive">
            <!-- Our AI-powered Assistants deliver lightning-fast responses to turn visitors into customers! -->
            Create your own Ai Virtual Assistant to help customers interaction with your product
          </div>
          <!--
          <div class="mb-30">
            <a href="https://app.fineguide.ai/register" class="btn mt-50 md mr-20 action-2">
              Free Sign-up
            </a>
            <a href="#demo" class="btn mt-50 md action-white border-action-2">
              Try Demo
            </a>
          </div>
          -->
        </div>
        <div class="col-12 mb-60">
          <div style="width:100%; aspect-ratio: 16/9.23; position:relative;"></div>
          <iframe style="width:100%; height:100%; position:absolute; top:0; left:0; border:1px solid #efefef;" src="https://www.youtube-nocookie.com/embed/hsssxCshG9s?si=3wa0GxDsPgWUrIvZ&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-12 text-center">
          <div class="mb-20">
            <a href="https://app.fineguide.ai/register" class="btn mt-50 xl mr-20 action-2">
              Free Sign-up
            </a>
            <a href="#demo" class="btn mt-50 xl action-white border-action-2">
              Try Demo
            </a>
          </div>
        </div>
      </div>
    </div> 