<div class="container px-xl-0 text-center text-lg-left">
  <div class="mb-3 d-xl-none">
    <a href="#" class="link img_link">
      <img src="/uploads/fineguidelogo1.svg" alt="Logo" class="img-fluid w-140">
    </a>
  </div>
  <div class="row justify-content align-items-center">
    <div class="col-12 pt-20 left text-center mb-30">
      <h1 class="f-44">
        Empower your Website with Instant Support
      </h1>
      <div class="mt-15 f-18 medium color-heading op-7 text-adaptive">
        Create your own Ai Virtual Assistant to help customers interaction with your product
      </div>
    </div>
    <div class="col-12 mb-40">
      <div style="width:100%; aspect-ratio: 16/9.23; position:relative;"></div>
      <iframe style="width:100%; height:100%; position:absolute; top:0; left:0; border:1px solid #efefef;" src="https://www.youtube-nocookie.com/embed/hsssxCshG9s?si=3wa0GxDsPgWUrIvZ&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-12 text-center">
            <!-- Featuring industry's top LLM -->
      <div class="mt-15 f-18 medium color-heading op-7 text-adaptive">
        Featuring industry's top LLMs
      </div>
      <!-- Logos -->
      <div class="mb-20 d-flex justify-content-center align-items-center  flex-wrap" >
        <img src="/uploads/openai-lockup.svg" alt="OpenAI" class="img-fluid mx-10 mt-3" style="max-height: 50px;">
        <div style="position:relative; width:210px; height:auto"><img src="/uploads/claude_ai.svg" alt="Claude" class="img-fluid mx-10 mt-3" style="width:210px; position:absolute;top: -81px;left: -12px;"></div>
        <img src="/uploads/google-gemini-logo.svg" alt="Google Gemini" class="img-fluid mx-10" style="max-height: 50px;">
      </div>
      <div class="mb-20">
        <a href="https://app.fineguide.ai/register" class="btn mt-50 xl mr-20 action-2">
          Free Sign-up
        </a>
        <a href="#demo" class="btn mt-50 xl action-white border-action-2">
          Try Demo
        </a>
      </div>
    </div>
  </div>
</div>
