  <!-- How Can We help? -->
  <section class="pt-105 pb-50 bg-light border-top text-center feature_16 color-filter-light-8">
    <div class="container px-xl-0">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 mb-80">
          <h2 class="mb-30 small">
            How can our Ai-Assistants help your business?
          </h2>
          <div class="color-heading f-20">
            Integrating our Ai-assistants into your business can significantly boost the efficiency across various parts
            of your business.
          </div>
        </div>
      </div>
      <div class="row justify-content-center justify-content-md-between">
        <!-- <div class="col-xl-5 col-md-6 col-sm-9" >
              content
            </div> -->
        <div class="col-xl-4 col-md-6 col-sm-9 border p-5 hov-scale-up bg-light">
          <i class="fas fa-headphones f-60">
          </i>
          <div class="mt-15 mb-15 f-24 medium title">
            Instant Customer Support 24/7
          </div>
          <div class="color-heading text-adaptive">
            Bots can provide round-the-clock customer support, answering frequently asked questions and resolving common
            issues, reducing response time and improving overall efficiency.
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-9 border p-5 hov-scale-up bg-light">
          <i class="fas fa-graduation-cap f-60">
          </i>
          <div class="mt-15 mb-15 f-24 medium title">
            Information Retrieval
          </div>
          <div class="color-heading text-adaptive">
            Bots can retrieve information from internal databases or external sources, helping employees in accessing
            relevant information quickly.
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-9 border p-5 hov-scale-up bg-light">
          <i class="fas fa-id-card f-60">
          </i>
          <div class="mt-15 mb-15 f-24 medium title">
            Employee Onboarding
          </div>
          <div class="color-heading text-adaptive">
            Bots can assist in the onboarding process by providing information, answering common queries, and guiding
            new employees through essential procedures.
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-9 border p-5 hov-scale-up bg-light">
          <i class="fas fa-calendar-check f-60">
          </i>
          <div class="mt-15 mb-15 f-24 medium title">
            Event and Appointment Scheduling
          </div>
          <div class="color-heading text-adaptive">
            Bots can help potential clients schedule appointments, meetings, or events, reducing the administrative
            burden on staff.
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-9 border p-5 hov-scale-up bg-light">
          <i class="fas fa-shopping-basket f-60"></i>
          <div class="mt-15 mb-15 f-24 medium title">
            Boost E-commerce Sales
          </div>
          <div class="color-heading text-adaptive">
            Bots can analyze customer preferences and behavior to suggest relevant products, boosting sales and
            enhancing the shopping experience.
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-9 border p-5 hov-scale-up bg-light">
          <i class="fas fa-users f-60">
          </i>
          <div class="mt-15 mb-15 f-24 medium title">
            Lead Generation and Qualification
          </div>
          <div class="color-heading text-adaptive">
            Bots can qualify leads by asking pre-determined questions and gather essential information from potential
            customers, aiding in personalized marketing efforts.
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </section>

