<!-- How it Works Sections -->
  <section class="bg-light pt-60 pb-0">
    <div class="container">
      <h2 class="mb-25 small aos-animate text-center">
        How It Works?
      </h2>
    </div>
    <div class="container px-xl-0 text-center text-md-left">
      <div class="row flex-md-row-reverse flex-lg-row">
        <div class="col-xl-6 col-lg-7 col-md-8 pt-105 pb-100 inner" id="how-it-works">
          <h3 class="mb-25 f-36 aos-animate">
            1. Create a Virtual Assistant
          </h3>
          <div class="d-md-none d-sm-block text-center pb-20">
            <img src="uploads/create-bot.gif" alt="Tech Support" class="w-200 rounded-30">
          </div>
          <div class="f-22 color-heading text-adaptive aos-animate">
            It only takes 5 seconds to create a virtual asisstant. All you need to do is pick out a cool and attractive name for it.
          </div>
        </div>
        <div class="col-lg-1 d-none d-lg-block">
        </div>
        <div class="col-xl-5 col-lg-4 col-md-4 d-none d-md-block aos-animate">
          <div class="h-full relative overflow-hidden">
            <img src="uploads/create-bot.gif" alt="" class="absolute h-full bg">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light feature_43 pt-0 pb-0">
    <div class="container px-xl-0 text-center text-md-left">
      <div class="row flex-md-row-reverse flex-lg-row">
        <div class="col-xl-5 col-lg-4 col-md-4 d-none d-md-block">
          <div class="h-full">
            <img src="uploads/add-context.png" alt="" class="w-full rounded-30">
          </div>
        </div>
        <div class="col-lg-1 d-none d-lg-block">
        </div>
        <div class="col-xl-6 col-lg-7 col-md-8 pt-105 pb-100 inner">
          <h2 class="mb-25 small">
            2. Provide your Assistant with learning information 
          </h2>
          <div class="d-md-none d-sm-block text-center pb-20">
            <img src="uploads/add-context.png" alt="Customisable Personality"
              class="w-200 rounded-30">
          </div>
          <div class="f-22 color-heading text-adaptive">
            Similar to a new onboarding member, your Assistant has to learn about your business or product. 
            It can be anything - from a FAQ page on your website to a PDF file
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light feature_43 pt-0 pb-80">
    <div class="container px-xl-0 text-center text-md-left">
      <div class="row flex-md-row-reverse flex-lg-row">
        <div class="col-xl-6 col-lg-7 col-md-8 pt-105 pb-100 inner">
          <h2 class="mb-25 small">
            3. Integrate your assistant into your website
          </h2>
          <div class="d-md-none d-sm-block text-center pb-20">
            <img src="uploads/integrate.gif" alt="simple to integrate" class="w-200 rounded-30">
          </div>
          <div class="f-22 color-heading text-adaptive">
              Integrating your assistant into your website is as easy as sharing a video from YouTube. A few simple steps, and your assistant becomes a part of your website.
          </div>
        </div>
        <div class="col-lg-1 d-none d-lg-block">
        </div>
        <div class="col-xl-5 col-lg-4 col-md-4 d-none d-md-block">
          <div class="h-full relative overflow-hidden">
            <img src="uploads/integrate.gif" alt="simple to integrate" class="absolute h-full bg rounded-30">
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- / Features Sections -->