  <!-- Navigation Mobile type 1 -->
  <a href="/" class="open_menu bg-light radius_full">
    <i class="fas fa-bars lh-40">
    </i>
  </a>
  <div class="navigation_mobile bg-dark type1">
    <a href="#" class="close_menu color-white">
      <i class="fas fa-times">
      </i>
    </a>
    <div class="px-40 pt-60 pb-60 inner">
      <div>
        <a href="/" class="f-heading f-22 link color-white mb-20">
          Home
        </a>
      </div>
      <div>
        <a href="/#features" class="f-heading f-22 link color-white mb-20">
          Features
        </a>
      </div>
      <div>
        <a href="/pricing" class="f-heading f-22 link color-white mb-20">
          Pricing
        </a>
      </div>
      <div>
        <a href="https://fineguide.ai/blog" class="f-heading f-22 link color-white mb-20">
          Blog
        </a>
      </div>
      <div>
        <a href="https://community.fineguide.ai/" class="f-heading f-22 link color-white mb-20">
          Comunity
        </a>
      </div>
      <div>
        <a href="#" class="f-heading f-22 link color-white mb-20">
          Login
        </a>
      </div>
      <div>
        <a href="#" class="f-heading f-22 link color-white mb-20">
          Sign-up
        </a>
      </div>
      <div class="socials mt-40">
        <a href="#" target="_blank" class="link color-white f-18 mr-20">
          <i class="fab fa-twitter">
          </i>
        </a>
        <a href="#" target="_blank" class="link color-white f-18 mr-20">
          <i class="fab fa-facebook">
          </i>
        </a>
        <a href="#" target="_blank" class="link color-white f-18 mr-20">
          <i class="fab fa-google-plus-g">
          </i>
        </a>
      </div>
      <!-- <div class="mt-50 f-14 light color-white op-3 copy">
				© 2021 Designmodo. All rights reserved.
			</div> -->
    </div>
  </div>