  <!-- Content 28 -->
<section class="bg-light content_28 pt-40 pb-30">
    <div class="container px-xl-0 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="f-14 text-uppercase semibold color-heading sp-20 pb-25">
                    Our Clients
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center no-gutters">
            <div class="col-md-2 col-sm-4 col-6 mb-30">
                <img src="i/content_28_logo_1.png" srcset="i/content_28_logo_1@2x.png 2x" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-6 mb-30">
                <img src="i/content_28_logo_2.png" srcset="i/content_28_logo_2@2x.png 2x" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-6 mb-30">
                <img src="i/content_28_logo_3.png" srcset="i/content_28_logo_3@2x.png 2x" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-6 mb-30">
                <img src="i/content_28_logo_4.png" srcset="i/content_28_logo_4@2x.png 2x" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-6 mb-30">
                <img src="i/content_28_logo_5.png" srcset="i/content_28_logo_5@2x.png 2x" alt="">
            </div>
        </div>
    </div>
</section>