  <!-- Pricing tables -->
  <section class="pb-100 bg-light text-center pricing_table_1 border-bottom">
    <div class="container px-xl-0">
      <h2 class="small">
        Pricing Plans
      </h2>
      <div class="mt-15 mb-60 f-22 color-heading text-adaptive">
        Suitable for every business. Get started for free. No credit card required.
      </div>
      <div class="row align-items-start no-gutters">
        <div class="col-lg-3">
          <div class="pt-45 radius10 noradius_right noborder_right block">
            <div class="f-22 title">
              Free
            </div>
            <div class="mt-10 mb-35 color-heading subtitle">
              Forever Free
            </div>
            <div>
              <div class="d-inline-block f-58 relative price">
                <span class="absolute f-16">
                  $
                </span>
                <b>
                  0
                </b>
              </div>
            </div>
            <div>
              <a href="#" class="btn mt-40 mb-40 border-action-2 color-main">
                Get Started
              </a>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Customize Persona</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Customize Branding</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Assistant Role</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Basic Ticketing System</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Context Web Crawler</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Upload Files & Documents</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14"><b class="f-16">400</b> Messages</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14"><b class="f-16">20</b> Context Pages Limit
              </label>
            </div>
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Additional Messages</label>
            </div>
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Widgets Support</label>
            </div>
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Helpdesk integration</label>
            </div>
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Dedicated Customer Support</label>
            </div>
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Dedicated Technical Support</label>
            </div>
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Dedicated Account Manager</label>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="pt-45 noborder_right block">
            <div class="f-22 title">
              Basic
            </div>
            <div class="mt-10 mb-35 color-heading subtitle">
              Perfect for Small Businesses
            </div>
            <div>
              <div class="d-inline-block f-58 relative price">
                <span class="absolute f-16">
                  $
                </span>
                <b>
                  30
                </b>
              </div>
            </div>
            <div>
              <a href="#" class="btn mt-40 mb-40 border-action-2 color-main">
                Get Started
              </a>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Customize Persona</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Customize Branding</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Assistant Role</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Basic Ticketing System</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Context Web Crawler</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Upload Files & Documents</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14"><b class="f-16">3,500</b> Messages</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14"><b class="f-16">250</b> Context Pages Limit</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14"><b class="f-16">$0.015</b> Per Extra Message</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14">Widget Support</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14">Helpdesk integration</label>
            </div>
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Dedicated Customer Support</label>
            </div>
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Dedicated Technical Support</label>
            </div>
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Dedicated Account Manager</label>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="pt-45 noborder_right block">
            <div class="f-22 title">
              Standard
            </div>
            <div class="mt-10 mb-35 color-heading subtitle">
              Perfect for E-commerce
            </div>
            <div>
              <div class="d-inline-block f-58 relative price">
                <span class="absolute f-16">
                  $
                </span>
                <b>
                  90
                </b>
              </div>
            </div>
            <div>
              <a href="#" class="btn mt-40 mb-40 action-2 color-main">
                Get Started
              </a>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Customize Persona</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Customize Branding</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Assistant Role</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Basic Ticketing System</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Context Web Crawler</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Upload Files & Documents</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14"><b class="f-16">12,000</b> Messages</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14"><b class="f-16">2,500</b> Context Pages Limit</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14"><b class="f-16">$0.012</b> Per Extra Message</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14">Widget Support</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14">Helpdesk integration</label>
            </div> 
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Dedicated Customer Support</label>
            </div>
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Dedicated Technical Support</label>
            </div>
            <div class="item pl-3 text-left">
              <label class="f-14 color-heading op-7 pl-20 ">Dedicated Account Manager</label>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="pt-45 radius10 noradius_left block">
            <div class="f-22 title">
              Pro
            </div>
            <div class="mt-10 mb-35 color-heading subtitle">
              Perfect for high-traffic websites
            </div>
            <div>
              <div class="d-inline-block f-58 relative price">
                <span class="absolute f-16">
                  $
                </span>
                <b>
                  400
                </b>
              </div>
            </div>
            <div>
              <a href="#" class="btn mt-40 mb-40 border-action-2 color-main">
                Get Started
              </a>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Customize Persona</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Customize Branding</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Assistant Role</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Basic Ticketing System</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Context Web Crawler</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-4"></i>
              <label class="f-14">Upload Files & Documents</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14"><b class="f-16">55,000</b> Messages</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14"><b class="f-16">25,000</b> Context Pages Limit</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14"><b class="f-16">$0.01</b> Per Extra Message</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14">Widget Support</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14">Helpdesk integration</label>
            </div>
            <div class="item pl-3 text-left align-items-center">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14">Dedicated Customer Support</label>
            </div>
            <div class="item pl-3 text-left align-items-center">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14">Dedicated Technical Support</label>
            </div>
            <div class="item pl-3 text-left">
              <i class="fas fa-check action-1 f-14 mr-2"></i>
              <label class="f-14">Dedicated Account Manager</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>