  <section class="pb-50 bg-light text-center pricing_table_3">
    <div class="container px-xl-0">
      <h2 class="mb-65 small">
        Pricing Plans
      </h2>
      <div class="mt-15 mb-60 f-22 color-heading text-adaptive">
          Suitable for every business. Get started for free. No credit card required.
      </div>

      <div class="table-responsive-shadow">
        <div class="overflow">
          <div class="w-1170 inner">

              <table class="table-bordered w-full block equal-table mb-50 pricing-table">
                <thead>
                  <th scope="col" class="bg-light"></th>
                  <th scope="col">
                    <div class="pb-30 pt-30 px-15">
                        <div class="f-26 mb-40 medium title bold text-center">
                          Free
                        </div>
                        <div class="f-14 regular color-heading">
                          No need for a credit card
                        </div>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="pb-30 pt-30 px-15">
                      <div class="f-26 mb-40 medium title bold text-center">
                        Basic
                      </div>
                      <div class="f-14 regular color-heading">
                        Ideal for Small Businesses
                      </div>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="pb-30 pt-30 px-15">
                      <div class="f-26 mb-40 medium title bold text-center">
                        Standard
                      </div>
                      <div class="f-14 regular color-heading">
                        Optimal for businesses with an online presence
                      </div>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="pb-30 pt-30 px-15">
                      <div class="f-26 mb-40 medium title bold text-center">
                        Pro
                      </div>
                      <div class="f-14 regular color-heading">
                        Tailored for high-traffic websites
                      </div>
                    </div>
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Price
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="pt-50 pb-30 px-25 w-full">
                          <div class="d-inline-block f-58 relative price">
                            <span class="absolute f-16">
                              $
                            </span>
                            <b>
                              0
                            </b>
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="pt-50 pb-30 px-25 w-full">
                          <div class="d-inline-block f-58 relative price">
                            <span class="absolute f-16">
                              $
                            </span>
                            <b>
                              39
                            </b>
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="pt-50 pb-30 px-25 w-full">
                          <div class="d-inline-block f-58 relative price">
                            <span class="absolute f-16">
                              $
                            </span>
                            <b>
                              99
                            </b>
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="pt-50 pb-30 px-25 w-full">
                          <div class="d-inline-block f-58 relative price">
                            <span class="absolute f-16">
                              $
                            </span>
                            <b>
                              499
                            </b>
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Available Models
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="pt-15 pb-15 px-25 w-full">
                          <ul class="list-unstyled bold">
                            <li>GPT-3.5 </li>
                            <li>Haiku</li>
                          </ul>
                        </div>
                    </td>
                    <td>
                        <div class="pt-15 pb-15 px-25 w-full">
                          <ul class="list-unstyled bold">
                            <li>GPT-3.5 </li>
                            <li>Haiku</li>
                            <li>Sonet</li>
                          </ul>
                        </div>
                    </td>
                    <td>
                        <div class="pt-15 pb-15 px-25 w-full">
                          <ul class="list-unstyled bold">
                            <li>GPT-3.5 </li>
                            <li>Haiku</li>
                            <li>Sonet</li>
                            <li>GPT-4o</li>
                          </ul>
                        </div>
                    </td>
                    <td>
                        <div class="pt-15 pb-15 px-25 w-full">
                          <ul class="list-unstyled bold ">
                            <li>GPT-3.5 </li>
                            <li>Haiku</li>
                            <li>Sonet</li>
                            <li>GPT-4o</li>
                          </ul>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Credits
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full bold">
                        600
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full bold">
                        10 000
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full bold">
                        30 000
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full bold">
                        169 000
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Cost per Extra Credit
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        -
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <b>0.005</b>$
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <b>0.004</b>$
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <b>0.003</b>$
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Learning Context Limit
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <b>30</b> Pages 
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <b>300</b> Pages
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <b>2000</b> Pages
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <b>10 000</b> Pages
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Assistants Limit
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full bold">
                        1
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full bold">
                        3
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full bold">
                        15
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        unlimited
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Persona Customization
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Human Escalation
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Chat Appearance Customizer
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Widgets Support
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Removable Fineguide logo
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        -
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            Scheduled Website Re-Crawling
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        -
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            3rd party integrations
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        - 
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end">
                          <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">
                            API Access
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        - 
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        -
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                    <td>
                      <div class="pt-15 pb-15 px-25 w-full">
                        <label class="input-control input-check border-gray checked-action-1" data-sf-type="checkbox" data-sf-label="Checkbox" data-sf-uid="81"><input type="checkbox" name="pseudo_checkbox" disabled="disabled" data-sf-type="input" data-sf-label="Checkbox Input" checked="checked" data-sf-uid="82"><div class="input-control-box bg-gray radius6" data-sf-type="container" data-sf-label="Checkbox Box" data-sf-uid="83"><i class="fas fa-check input-control-icon f-12 color-white" data-sf-type="icon" data-sf-label="Checkbox Icon" data-sf-uid="84"></i></div><span class="input-control-label" data-sf-type="text" data-sf-label="Checkbox Text" data-sf-uid="85"></span></label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </section>

