  <!-- Schedule a call -->
  <section class="pt-105 pb-80 text-center text-sm-left form_9 color-white bg-dark shadow-text">
    <div class="container px-xl-0">
      <div class="row flex-sm-row-reverse justify-content-between pb-40">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-4 col-8 text-sm-right">
          <img src="i/avatar-thumbs-3.jpeg" alt="" class="img-fluid mb-40 mb-sm-0 rounded-circle">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-8">
          <h3 class="f-42 mb-15">
            Need a special feature? Schedule a call with our team.
          </h3>
          <div class="text-adaptive f-20 color-white">
            <ul class="list-unstyled">
              <li class="pb-2">- Need get in touch with our
                <strong data-sf-label="Container">
                  Sales Team?
                </strong>
              </li>
              <li class="pb-2"> - Would like to talk to our
                <strong>
                  Tech guys
                </strong>
                about custom integrations?
              </li>
              <li class="pb-2">- Need a
                <b>
                  White Label
                </b>
                solution?
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row pl-20">
        <span class="f-28">
          Just ask our bot to <a class="ask-bot-link" href="javascript:$__fg_window_open()">schedule an appointment</a>
        </span>
      </div>
    </div>
  </section>