    <!-- screen nav -->
    <nav class="header_menu_9 pt-30 pb-30 mt-50 d-none d-md-block">
      <div class="container mw-970 px-xl-0">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-3">
            <a href="/" class="link img_link">
              <img src="uploads/fineguidelogo1.svg" alt="Logo" class="img-fluid" srcset="uploads/fineguidelogo1.svg 2x">
            </a>
          </div>
          <div class="col-lg-9 d-flex align-items-center justify-content-end f-18 medium">
            <a href="/" class="link mx-20 color-main">
              Home
            </a>
            <a href="/#features" class="link mx-20 color-main">
              Features
            </a>
            <a href="/pricing" class="link mx-20 color-main">
              Pricing
            </a>
            <a href="https://fineguide.ai/blog" class="link mx-20 color-main">
              Blog
            </a>
            <a href="https://community.fineguide.ai/" class="link mx-20 color-main">
              Comunity
            </a>
            <a href="#" class="btn ml-20 sm color-main action-white border-action-2">
              Sign in
            </a>
          </div>
        </div>
      </div>
    </nav>